@use '../../scss/' as *;

.box {
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform .5s;
    width: 350px;
    height: 245px;
    overflow: hidden;
    margin-bottom: 55px;
    z-index: 1;
    position: relative;
    //background-color: white;

    &:hover .boxImg {
        transform: translateY(-60px);
    }

    .boxImg {
        height: 245px;
        transition: 0.5s;
        z-index: 2;

        img {
            height: 100%;
            transition: 0.5s;
            z-index: 99;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .boxShocail {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        li a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            color: black;
            margin: 0 5px;
            transition: 0.5s;
            transform: translateY(92px);
            opacity: 0;

            .bx {
                font-size: 30px;
                line-height: 50px;
                transition: 0.5s;
            }

            &:hover .bx {
                transform: rotateY(360deg);
            }
        }

        li:nth-child(1) a {
            transition-delay: 0s;
        }

        li:nth-child(2) a {
            transition-delay: 0.2s;
        }

        li:nth-child(3) a {
            transition-delay: 0.4s;
        }
    }

    .boxBtn {
        position: absolute;
        bottom: 0;
        left: 0;
        //color: black;
        //opacity: 0;
        z-index: -1;
        width: 100%;
        padding: 15px 0;
        text-align: center;

        a {
            //border: 2px black solid;
            padding: 8px 13px;
            border-radius: 30px;
            font-size: 13px;
            font-weight: 500;
        }

    }

    &:hover .boxShocail li a {
        transform: translateY(0px);
        opacity: 1;
    }
}