@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ebe8e8; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(122, 118, 118, 0.459);
    border-radius: 50px;
  }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-family: $font-family;
}

html {
  height: 100vh;
}

//light mode ///////
//button lightMode
#lightMode {
  background-color: var(--text-color);
  color: var(--background-color);
}

.allBtn .btnFirst {
  border: 2px var(--text-color) solid;

  &:nth-child(2) {
      background-color: var(--text-color);
      color: var(--background-color);
  }
}
/////
/// btn nav////
.Arrow {
  background-color: var(--text-color);
  color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color .2s ease;
  height: 100vh;
}

body.dark {
  --background-color: #{$body-color};
  --text-color: #{$text-color};
}

body.light {
  --background-color: #{$text-color};
  --text-color: #{$body-color};
}

.heroNav .NavSlide {
  background-color: var(--text-color);
  color: var(--background-color);

  a {
    border: 2px solid var(--background-color);
  }
}
////
.boxBtn {
  color: var(--text-color);

  a {
    border: 2px solid var(--text-color);
  }
}

@media (hover: hover) {
  a:not(.logo):hover {
    background-color: $hover-color;//$hover-color;
  }
}

//////

button,
input {
  outline: 0;
}


a {
  color: unset;
}

img {
  max-width: 100%;
}
.mx {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1660px;
  margin: auto;
}