$body-color: #000;
$text-color: #fff;
$hover-color: #B87C4C;

$box-shadow: rgba(100,100,111,0.4) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 4rem;
$border-radius-first: 30px;
$border-radius-second: 50px;
/*medai responsive*/
$mobile-width: 600px !default;
$tablet-width: 1024px !default;
/* font */
$font-family: 'Poppins', sans-serif;
